<EditForm Model="@Vagas" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />
    <h3>Dados da Vaga</h3>
    <div class="form-group">
        <div><label>Nome</label></div>
        <div><InputText @bind-Value="@Vagas.Vaga"></InputText></div>
        <ValidationMessage For="@(() => Vagas.Vaga)"></ValidationMessage>
    </div>

    <div class="col-xl-6 mb-5">
        <label>Selecione as tecnologias do candidato</label>
        <RadzenCheckBoxList @bind-Value="@values"  TValue="int" Orientation="Orientation.Vertical">
            <Items>
                @foreach (var tipo in tecnologias)
                {
                    <RadzenCheckBoxListItem Text="@tipo.tecnologia" Value="@tipo.Id" />
                }

            </Items>
        </RadzenCheckBoxList>
    </div>

    <div class="form-group">
        <div><label>Peso</label></div>
        <div><InputNumber @bind-Value="@Vagas.ValorTecnologias"></InputNumber></div>
        <ValidationMessage For="@(() => Vagas.ValorTecnologias)"></ValidationMessage>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>


</EditForm>

@code {
    @using Prova.Shared.Models

    [Parameter] public Vagas Vagas { get; set; }
    [Parameter] public List<Tecnologias> tecnologias { get; set; }
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }


    IEnumerable<int> values = new int[] { 1 };
    }
